<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.symptom.mapper.WarningModelMapper">
    <select id="findAll" resultType="WarningModel">
        SELECT * FROM warning_model ORDER BY id
    </select>
    <select id="findById" resultType="WarningModel">
        SELECT * FROM warning_model WHERE id = #{id}
    </select>
    <select id="findBySyndromeType" resultType="WarningModel">
        SELECT * FROM warning_model WHERE syndrome_type = #{syndromeType} OR syndrome_type IS NULL ORDER BY id
    </select>
    <update id="update">
        UPDATE warning_model SET
            model_name = #{modelName},
            model_type = #{modelType},
            syndrome_type = #{syndromeType},
            region_scope = #{regionScope},
            warning_type = #{warningType},
            level_threshold_json = #{levelThresholdJson},
            config_json = #{configJson},
            description = #{description},
            enabled = #{enabled}
        WHERE id = #{id}
    </update>
</mapper>
